{% extends 'layout/base.html' %}


{% block content %}

    <div class="container-fluid h d-flex justify-content-center align-items-center vh-100">
        <div class="card w-25 h-75 ">
<div class="card-header bg-primary">
<h2 class="text-centre text-white">Register</h2>

</div>
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <label class="pass text-dark"> Username</label>
        <input type="text" class="form-control mt-3" name="username" id="name">
        <label>email</label>
        <input type="email" class="form-control mt-3" name="email" id="email" >
        <label class="pass mt-3 text-dark">password</label>
        <input type="password" class="form-control mt-3" name="password" id="password">
        <label class="pass mt-3 text-dark"> confirm password</label>
        <input type="confirmpassword" class="form-control mt-3" name="cpassword" id="cpassword">
        <button class="btn btn-primary mt-3 mx-auto d-block">submit</button>
        <a class="CA">register</a>
        <a href="{% url 'login' %}">create account</a> 

    </form>

</div>
        </div>

    </div>
 
{% endblock content %}
    

